html, body{
  width:100%;
  height: 100%;
}

#app{
  height: 100%;
}

.gradient-bg {
  background: linear-gradient(to top right, #571158, #8D348E);
}

.ev-input {
  appearance: none;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  outline: none;
  transition: border-color 0.1s ease;
}

.ev-input:focus {
  border-color: #571158;
  background: none;
}

.ev-input:placeholder-shown {
  border-color: rgba(0, 0, 0, 0.3);
}

.ev-input:not(:placeholder-shown) {
  border-color: #571158;
}

input[type='email'].valid {
  border-color: #571158;
}

input[type='email'].invalid {
  border-color: #dc3545;
}